<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>display-height</key>
				<integer>207</integer>
				<key>read-only</key>
				<true/>
				<key>field</key>
				<integer>17</integer>
				<key>label</key>
				<string>Video</string>
				<key>class</key>
				<string>ListingInfoCell</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Media</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>icon</key>
				<string>dollar-icon.png</string>
				<key>format</key>
				<string>$%i</string>
				<key>placeholder</key>
				<string>$0</string>
				<key>animatable</key>
				<false/>
				<key>field</key>
				<integer>4</integer>
				<key>state</key>
				<integer>1</integer>
				<key>label</key>
				<string>Montly Rent</string>
				<key>class</key>
				<string>MoneyInputCell</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>dollar-icon.png</string>
				<key>format</key>
				<string>$%i</string>
				<key>placeholder</key>
				<string>$0</string>
				<key>field</key>
				<integer>5</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Movin Cost</string>
				<key>class</key>
				<string>MoneyInputCell</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>dollar-icon.png</string>
				<key>format</key>
				<string>$%i</string>
				<key>placeholder</key>
				<string>$0</string>
				<key>field</key>
				<integer>6</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Broker Fee</string>
				<key>class</key>
				<string>MoneyInputCell</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>calendar-icon.png</string>
				<key>field</key>
				<integer>19</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Move In Date</string>
				<key>class</key>
				<string>DateCell</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>dogs-icon.png</string>
				<key>field</key>
				<integer>10</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Dogs</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>cats-icon.png</string>
				<key>field</key>
				<integer>11</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Cats</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Editable</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>field</key>
				<integer>52</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Is Rented</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
			<dict>
				<key>custom-action</key>
				<string>handleDeleteListing:</string>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Delete Listing</string>
				<key>class</key>
				<string>TextCell</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Satus</string>
	</dict>
</array>
</plist>
