<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>display-height</key>
				<integer>207</integer>
				<key>read-only</key>
				<true/>
				<key>custom-action</key>
				<string>handlePlayVideo</string>
				<key>field</key>
				<integer>17</integer>
				<key>label</key>
				<string>Video</string>
				<key>class</key>
				<string>ListingInfoCell</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Media</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>display-height</key>
				<integer>240</integer>
				<key>read-only</key>
				<true/>
				<key>field</key>
				<integer>43</integer>
				<key>label</key>
				<string>Social Life</string>
				<key>class</key>
				<string>SocialLifeCell</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Social Life</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>format</key>
				<string>$%i</string>
				<key>icon</key>
				<string>dollar-icon.png</string>
				<key>read-only</key>
				<true/>
				<key>field</key>
				<integer>4</integer>
				<key>label</key>
				<string>Montly Rent</string>
				<key>class</key>
				<string>MoneyInputCell</string>
			</dict>
			<dict>
				<key>format</key>
				<string>$%i</string>
				<key>icon</key>
				<string>dollar-icon.png</string>
				<key>read-only</key>
				<true/>
				<key>field</key>
				<integer>5</integer>
				<key>label</key>
				<string>Movin Cost</string>
				<key>class</key>
				<string>MoneyInputCell</string>
			</dict>
			<dict>
				<key>format</key>
				<string>$%i</string>
				<key>icon</key>
				<string>broker-icon.png</string>
				<key>read-only</key>
				<true/>
				<key>field</key>
				<integer>6</integer>
				<key>label</key>
				<string>Broker Fee</string>
				<key>class</key>
				<string>MoneyInputCell</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Costs</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>format</key>
				<string>%0.1f</string>
				<key>read-only</key>
				<true/>
				<key>field</key>
				<integer>7</integer>
				<key>label</key>
				<string>Bedrooms</string>
				<key>icon</key>
				<string>bedrooms-icon.png</string>
				<key>class</key>
				<string>TextCell</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>bathrooms-icon.png</string>
				<key>format</key>
				<string>%0.1f</string>
				<key>read-only</key>
				<true/>
				<key>field</key>
				<integer>8</integer>
				<key>label</key>
				<string>Bathrooms</string>
				<key>class</key>
				<string>TextCell</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>share-icon.png</string>
				<key>read-only</key>
				<true/>
				<key>field</key>
				<integer>9</integer>
				<key>label</key>
				<string>Share</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
			<dict>
				<key>read-only</key>
				<true/>
				<key>field</key>
				<integer>10</integer>
				<key>label</key>
				<string>Dogs</string>
				<key>class</key>
				<string>SwitchCell</string>
				<key>icon</key>
				<string>dogs-icon.png</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>cats-icon.png</string>
				<key>read-only</key>
				<true/>
				<key>field</key>
				<integer>11</integer>
				<key>label</key>
				<string>Cats</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>calendar-icon.png</string>
				<key>read-only</key>
				<true/>
				<key>field</key>
				<integer>19</integer>
				<key>label</key>
				<string>Move In Date</string>
				<key>class</key>
				<string>DateCell</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Details</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>icon</key>
				<string>outdoor-space-icon.png</string>
				<key>read-only</key>
				<true/>
				<key>field</key>
				<integer>12</integer>
				<key>label</key>
				<string>Outdoor Space</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>washer-dryer-icon.png</string>
				<key>read-only</key>
				<true/>
				<key>field</key>
				<integer>13</integer>
				<key>label</key>
				<string>Washer Dryer</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>doorman-icon.png</string>
				<key>read-only</key>
				<true/>
				<key>field</key>
				<integer>14</integer>
				<key>label</key>
				<string>Doorman</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>gym-icon.png</string>
				<key>read-only</key>
				<true/>
				<key>field</key>
				<integer>15</integer>
				<key>label</key>
				<string>Gym</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>pool-icon.png</string>
				<key>read-only</key>
				<true/>
				<key>field</key>
				<integer>16</integer>
				<key>label</key>
				<string>Pool</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Features</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>read-only</key>
				<true/>
				<key>default</key>
				<string>n/a</string>
				<key>placeholder</key>
				<string>email address</string>
				<key>custom-action</key>
				<string>showEmail</string>
				<key>field</key>
				<integer>20</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Email</string>
				<key>class</key>
				<string>TextCell</string>
			</dict>
			<dict>
				<key>custom-action</key>
				<string>handleCall</string>
				<key>read-only</key>
				<true/>
				<key>default</key>
				<string>n/a</string>
				<key>placeholder</key>
				<string>digits</string>
				<key>field</key>
				<integer>44</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Phone</string>
				<key>class</key>
				<string>TextCell</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Contact</string>
	</dict>
</array>
</plist>
