<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>keyboard-type</key>
				<integer>7</integer>
				<key>field</key>
				<integer>0</integer>
				<key>placeholder</key>
				<string>email</string>
				<key>label</key>
				<string>username</string>
				<key>class</key>
				<string>TextInputCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>password</string>
				<key>label</key>
				<string>password</string>
				<key>class</key>
				<string>TextInputCell</string>
				<key>is-secure</key>
				<true/>
			</dict>
		</array>
		<key>section-title</key>
		<string>Login With Username and Password</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>label</key>
				<string>Go To Sign Up</string>
				<key>custom-action</key>
				<string>toggleForm</string>
				<key>class</key>
				<string>FormCell</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Or Sign Up</string>
	</dict>
</array>
</plist>
