<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>active</key>
		<false/>
		<key>requires-user</key>
		<false/>
		<key>cell</key>
		<string>NavCell</string>
		<key>class</key>
		<string>FeaturedViewController</string>
		<key>label</key>
		<string>Featured</string>
	</dict>
	<dict>
		<key>active</key>
		<true/>
		<key>requires-user</key>
		<false/>
		<key>cell</key>
		<string>NavCell</string>
		<key>label</key>
		<string>All Listings</string>
		<key>class</key>
		<string>SearchViewController</string>
	</dict>
	<dict>
		<key>active</key>
		<true/>
		<key>requires-user</key>
		<false/>
		<key>cell</key>
		<string>NavCell</string>
		<key>label</key>
		<string>Near Me</string>
		<key>class</key>
		<string>NearMeViewController</string>
	</dict>
	<dict>
		<key>active</key>
		<true/>
		<key>requires-user</key>
		<true/>
		<key>cell</key>
		<string>NavCell</string>
		<key>class</key>
		<string>AddApartmentViewController</string>
		<key>label</key>
		<string>Add An Apartment</string>
	</dict>
	<dict>
		<key>active</key>
		<true/>
		<key>requires-user</key>
		<false/>
		<key>cell</key>
		<string>NavCell</string>
		<key>class</key>
		<string>SettingsViewController</string>
		<key>label</key>
		<string>Settings</string>
	</dict>
</array>
</plist>
