<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>geo</key>
				<integer>38</integer>
				<key>animatable</key>
				<false/>
				<key>state</key>
				<integer>1</integer>
				<key>field</key>
				<integer>2</integer>
				<key>label</key>
				<string>Address</string>
				<key>class</key>
				<string>MapCell</string>
				<key>display-height</key>
				<string>150</string>
			</dict>
			<dict>
				<key>animatable</key>
				<false/>
				<key>state</key>
				<integer>1</integer>
				<key>field</key>
				<integer>21</integer>
				<key>label</key>
				<string>Unit</string>
				<key>class</key>
				<string>TextInputCell</string>
			</dict>
			<dict>
				<key>animatable</key>
				<false/>
				<key>state</key>
				<integer>1</integer>
				<key>field</key>
				<integer>3</integer>
				<key>label</key>
				<string>Neighborhood</string>
				<key>class</key>
				<string>TextCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>3</integer>
				<key>state</key>
				<integer>0</integer>
				<key>animatable</key>
				<true/>
				<key>label</key>
				<string>Uptown</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>3</integer>
				<key>animatable</key>
				<true/>
				<key>state</key>
				<integer>0</integer>
				<key>label</key>
				<string>Upper West Side</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>3</integer>
				<key>animatable</key>
				<true/>
				<key>state</key>
				<integer>0</integer>
				<key>label</key>
				<string>Upper East Side</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>3</integer>
				<key>animatable</key>
				<true/>
				<key>state</key>
				<integer>0</integer>
				<key>label</key>
				<string>Midtown West</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>3</integer>
				<key>state</key>
				<integer>0</integer>
				<key>animatable</key>
				<true/>
				<key>label</key>
				<string>Midtown East</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>3</integer>
				<key>state</key>
				<integer>0</integer>
				<key>animatable</key>
				<true/>
				<key>label</key>
				<string>Lower West Side</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>3</integer>
				<key>state</key>
				<integer>0</integer>
				<key>animatable</key>
				<true/>
				<key>label</key>
				<string>Lower East Side</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>3</integer>
				<key>state</key>
				<integer>0</integer>
				<key>animatable</key>
				<true/>
				<key>label</key>
				<string>North Brooklyn</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>3</integer>
				<key>state</key>
				<integer>0</integer>
				<key>animatable</key>
				<true/>
				<key>label</key>
				<string>South Brooklyn</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>3</integer>
				<key>state</key>
				<integer>0</integer>
				<key>animatable</key>
				<true/>
				<key>label</key>
				<string>Center Brooklyn</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>3</integer>
				<key>state</key>
				<integer>0</integer>
				<key>animatable</key>
				<true/>
				<key>label</key>
				<string>East Brooklyn</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>3</integer>
				<key>state</key>
				<integer>0</integer>
				<key>animatable</key>
				<true/>
				<key>label</key>
				<string>Western Queens</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>3</integer>
				<key>state</key>
				<integer>0</integer>
				<key>animatable</key>
				<true/>
				<key>label</key>
				<string>Central Queens</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>3</integer>
				<key>state</key>
				<integer>0</integer>
				<key>animatable</key>
				<true/>
				<key>label</key>
				<string>South Queens</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>3</integer>
				<key>state</key>
				<integer>0</integer>
				<key>animatable</key>
				<true/>
				<key>label</key>
				<string>Eastern Queens</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>3</integer>
				<key>state</key>
				<integer>0</integer>
				<key>animatable</key>
				<true/>
				<key>label</key>
				<string>South Bronx</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>3</integer>
				<key>state</key>
				<integer>0</integer>
				<key>animatable</key>
				<true/>
				<key>label</key>
				<string>South Bronx</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>3</integer>
				<key>state</key>
				<integer>0</integer>
				<key>animatable</key>
				<true/>
				<key>label</key>
				<string>Northern Staten Island</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>3</integer>
				<key>state</key>
				<integer>0</integer>
				<key>animatable</key>
				<true/>
				<key>label</key>
				<string>Central Staten Island</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>3</integer>
				<key>state</key>
				<integer>0</integer>
				<key>animatable</key>
				<true/>
				<key>label</key>
				<string>Southern Staten Island</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Location</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>animatable</key>
				<false/>
				<key>field</key>
				<integer>4</integer>
				<key>state</key>
				<integer>1</integer>
				<key>label</key>
				<string>Montly Rent</string>
				<key>class</key>
				<string>NumberInputCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>5</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Movin Cost</string>
				<key>class</key>
				<string>NumberInputCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>6</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Broker Fee</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Costs</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>animatable</key>
				<false/>
				<key>field</key>
				<integer>7</integer>
				<key>state</key>
				<integer>1</integer>
				<key>label</key>
				<string>Bedrooms</string>
				<key>class</key>
				<string>NumberInputCell</string>
			</dict>
			<dict>
				<key>animatable</key>
				<false/>
				<key>field</key>
				<integer>8</integer>
				<key>state</key>
				<integer>1</integer>
				<key>label</key>
				<string>Bathrooms</string>
				<key>class</key>
				<string>NumberInputCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>9</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Share</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>10</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Dogs</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>11</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Cats</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>19</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Move In Date</string>
				<key>class</key>
				<string>DateCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>20</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Contact</string>
				<key>class</key>
				<string>TextInputCell</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Details</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>field</key>
				<integer>12</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Outdoor Space</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>13</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Washer Dryer</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>14</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Doorman</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>15</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Gym</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>16</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Pool</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Features</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>field</key>
				<integer>17</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Video</string>
				<key>class</key>
				<string>MediaCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>18</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Thumbnail</string>
				<key>class</key>
				<string>MediaCell</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Media</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>field</key>
				<integer>37</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Key Words</string>
				<key>class</key>
				<string>KeyWordsCell</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Key Words</string>
	</dict>
</array>
</plist>
