<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>MediaCell</string>
				<key>display-height</key>
				<integer>127</integer>
				<key>field</key>
				<integer>17</integer>
				<key>label</key>
				<string>Video</string>
				<key>state</key>
				<integer>1</integer>
				<key>temp-image</key>
				<string>add-video-temp.png</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Video Tour</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>MediaCell</string>
				<key>display-height</key>
				<integer>127</integer>
				<key>field</key>
				<integer>18</integer>
				<key>label</key>
				<string>Thumbnail</string>
				<key>state</key>
				<integer>1</integer>
				<key>temp-image</key>
				<string>cover-image-temp.png</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Cover Photo</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>TextInputCell</string>
				<key>field</key>
				<integer>45</integer>
				<key>label</key>
				<string>Street</string>
				<key>placeholder</key>
				<string>street address</string>
				<key>state</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>TextCell</string>
				<key>field</key>
				<integer>46</integer>
				<key>label</key>
				<string>Borough</string>
				<key>picker-data</key>
				<array>
					<array>
						<dict>
							<key>label</key>
							<string>Manhattan</string>
							<key>value</key>
							<string>Manhattan</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Brooklyn</string>
							<key>value</key>
							<string>Brooklyn</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Queens</string>
							<key>value</key>
							<string>Queens</string>
						</dict>
						<dict>
							<key>label</key>
							<string>The Bronx</string>
							<key>value</key>
							<string>The Bronx</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Staten Island</string>
							<key>value</key>
							<string>St George </string>
						</dict>
					</array>
				</array>
				<key>picker-index</key>
				<integer>0</integer>
				<key>placeholder</key>
				<string>borough</string>
				<key>state</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>TextCell</string>
				<key>field</key>
				<integer>3</integer>
				<key>label</key>
				<string>Neighborhood</string>
				<key>picker-data</key>
				<array>
					<array>
						<dict>
							<key>label</key>
							<string>Lower Manhattan</string>
							<key>value</key>
							<string>Lower Manhattan</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Midtown</string>
							<key>value</key>
							<string>Midtown</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Upper East Side</string>
							<key>value</key>
							<string>Upper West Side</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Upper Manhattan</string>
							<key>value</key>
							<string>Upper Manhattan</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Bay Ridge</string>
							<key>value</key>
							<string>Bay Ridge</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Bedford Stuyvesant</string>
							<key>value</key>
							<string>Bedford Stuyvesant</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Boerum Hill</string>
							<key>value</key>
							<string>Boerum Hill</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Brooklyn Heights</string>
							<key>value</key>
							<string>Brooklyn Heights</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Bushwick</string>
							<key>value</key>
							<string>Bushwick</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Carroll Gardens</string>
							<key>value</key>
							<string>Carroll Gardens</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Clinton Hill</string>
							<key>value</key>
							<string>Clinton Hill</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Crown Heights</string>
							<key>value</key>
							<string>Crown Heights</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Downtown Brooklyn</string>
							<key>value</key>
							<string>Downtown Brooklyn</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Dumbo</string>
							<key>value</key>
							<string>Dumbo</string>
						</dict>
						<dict>
							<key>label</key>
							<string>East Williamsburg</string>
							<key>value</key>
							<string>East Williamsburg</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Fort Greene</string>
							<key>value</key>
							<string>Fort Greene</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Gowanus</string>
							<key>value</key>
							<string>Gowanus</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Greenpoint</string>
							<key>value</key>
							<string>Greenpoint</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Park Slope</string>
							<key>value</key>
							<string>Park Slope</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Prospect Heights</string>
							<key>value</key>
							<string>Prospect Heights</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Prospect Lefferts Gardens</string>
							<key>value</key>
							<string>Prospect Lefferts Gardens</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Red Hook</string>
							<key>value</key>
							<string>Red Hook</string>
						</dict>
						<dict>
							<key>label</key>
							<string>South Slope</string>
							<key>value</key>
							<string>South Slope</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Sunset Park</string>
							<key>value</key>
							<string>Sunset Park</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Williamsburg</string>
							<key>value</key>
							<string>Williamsburg</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Astoria</string>
							<key>value</key>
							<string>Astoria</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Hunters Point</string>
							<key>value</key>
							<string>Hunters Point</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Sunnyside</string>
							<key>value</key>
							<string>Sunnyside</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Woodside</string>
							<key>value</key>
							<string>Woodside</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Ridgewood</string>
							<key>value</key>
							<string>Ridgewood</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Riverdale</string>
							<key>value</key>
							<string>Riverdale</string>
						</dict>
						<dict>
							<key>label</key>
							<string>South Bronx</string>
							<key>value</key>
							<string>South Bronx</string>
						</dict>
						<dict>
							<key>label</key>
							<string>St George </string>
							<key>value</key>
							<string>St George </string>
						</dict>
					</array>
				</array>
				<key>picker-index</key>
				<integer>0</integer>
				<key>placeholder</key>
				<string>neighborhood</string>
				<key>state</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>TextCell</string>
				<key>current-value</key>
				<string>New York</string>
				<key>field</key>
				<integer>48</integer>
				<key>label</key>
				<string>City</string>
				<key>picker-data</key>
				<array>
					<array>
						<dict>
							<key>label</key>
							<string>New York City</string>
							<key>value</key>
							<string>New York City</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Jersey City</string>
							<key>value</key>
							<string>Jersey City</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Hoboken</string>
							<key>value</key>
							<string>Hoboken</string>
						</dict>
					</array>
				</array>
				<key>picker-index</key>
				<integer>0</integer>
				<key>placeholder</key>
				<string>city</string>
				<key>state</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>NumberInputCell</string>
				<key>field</key>
				<integer>47</integer>
				<key>format</key>
				<string>%i</string>
				<key>label</key>
				<string>Zip Code</string>
				<key>placeholder</key>
				<string>zip</string>
				<key>state</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>TextCell</string>
				<key>current-value</key>
				<string>NY</string>
				<key>field</key>
				<integer>49</integer>
				<key>label</key>
				<string>State</string>
				<key>picker-data</key>
				<array>
					<array>
						<dict>
							<key>label</key>
							<string>New Jersey</string>
							<key>value</key>
							<string>NJ</string>
						</dict>
						<dict>
							<key>label</key>
							<string>New York</string>
							<key>value</key>
							<string>NY</string>
						</dict>
					</array>
				</array>
				<key>picker-index</key>
				<integer>0</integer>
				<key>placeholder</key>
				<string>state</string>
				<key>state</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>TextInputCell</string>
				<key>field</key>
				<integer>21</integer>
				<key>label</key>
				<string>Unit</string>
				<key>placeholder</key>
				<string>unit</string>
				<key>state</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>section-title</key>
		<string>Location</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>MoneyInputCell</string>
				<key>field</key>
				<integer>4</integer>
				<key>format</key>
				<string>$%i</string>
				<key>icon</key>
				<string>dollar-icon.png</string>
				<key>label</key>
				<string>Montly Rent</string>
				<key>placeholder</key>
				<string>$0</string>
				<key>state</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>MoneyInputCell</string>
				<key>field</key>
				<integer>5</integer>
				<key>format</key>
				<string>$%i</string>
				<key>icon</key>
				<string>dollar-icon.png</string>
				<key>label</key>
				<string>Movin Cost</string>
				<key>placeholder</key>
				<string>$0</string>
				<key>state</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>MoneyInputCell</string>
				<key>field</key>
				<integer>6</integer>
				<key>format</key>
				<string>$%i</string>
				<key>icon</key>
				<string>dollar-icon.png</string>
				<key>label</key>
				<string>Broker Fee</string>
				<key>placeholder</key>
				<string>$0</string>
				<key>state</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>section-title</key>
		<string>Costs</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>TextCell</string>
				<key>field</key>
				<integer>7</integer>
				<key>format</key>
				<string>%0.1f</string>
				<key>icon</key>
				<string>bedrooms-icon.png</string>
				<key>label</key>
				<string>Bedrooms</string>
				<key>picker-data</key>
				<array>
					<array>
						<dict>
							<key>label</key>
							<string>1 Bedroom</string>
							<key>value</key>
							<string>1 Bedroom</string>
						</dict>
						<dict>
							<key>label</key>
							<string>2 Bedroom</string>
							<key>value</key>
							<string>2 Bedroom</string>
						</dict>
						<dict>
							<key>label</key>
							<string>3 Bedroom</string>
							<key>value</key>
							<string>3 Bedroom</string>
						</dict>
						<dict>
							<key>label</key>
							<string>4 Bedroom</string>
							<key>value</key>
							<string>4 Bedroom</string>
						</dict>
						<dict>
							<key>label</key>
							<string>5 Bedroom</string>
							<key>value</key>
							<string>5 Bedroom</string>
						</dict>
						<dict>
							<key>label</key>
							<string>More then 5</string>
							<key>value</key>
							<string>More then 5</string>
						</dict>
					</array>
				</array>
				<key>picker-index</key>
				<integer>0</integer>
				<key>placeholder</key>
				<string>bedrooms</string>
				<key>state</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>TextCell</string>
				<key>field</key>
				<integer>8</integer>
				<key>format</key>
				<string>%0.1f</string>
				<key>icon</key>
				<string>bathrooms-icon.png</string>
				<key>label</key>
				<string>Bathrooms</string>
				<key>picker-data</key>
				<array>
					<array>
						<dict>
							<key>label</key>
							<string>1 Bath</string>
							<key>value</key>
							<string>1 Bath</string>
						</dict>
						<dict>
							<key>label</key>
							<string>1.5 Baths</string>
							<key>value</key>
							<string>1.5 Baths</string>
						</dict>
						<dict>
							<key>label</key>
							<string>2 Baths</string>
							<key>value</key>
							<string>2 Baths</string>
						</dict>
						<dict>
							<key>label</key>
							<string>2.5 Baths</string>
							<key>value</key>
							<string>2.5 Baths</string>
						</dict>
						<dict>
							<key>label</key>
							<string>3 Baths</string>
							<key>value</key>
							<string>3 Baths</string>
						</dict>
						<dict>
							<key>label</key>
							<string>More then 3 Bathrooms</string>
							<key>value</key>
							<string>More then 3 Bathrooms</string>
						</dict>
					</array>
				</array>
				<key>picker-index</key>
				<integer>0</integer>
				<key>placeholder</key>
				<string>bathrooms</string>
				<key>state</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>SwitchCell</string>
				<key>field</key>
				<integer>9</integer>
				<key>label</key>
				<string>Share</string>
				<key>state</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>SwitchCell</string>
				<key>field</key>
				<integer>10</integer>
				<key>icon</key>
				<string>dogs-icon.png</string>
				<key>label</key>
				<string>Dogs</string>
				<key>state</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>SwitchCell</string>
				<key>field</key>
				<integer>11</integer>
				<key>icon</key>
				<string>cats-icon.png</string>
				<key>label</key>
				<string>Cats</string>
				<key>state</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>DateCell</string>
				<key>field</key>
				<integer>19</integer>
				<key>icon</key>
				<string>calendar-icon.png</string>
				<key>label</key>
				<string>Move In Date</string>
				<key>state</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>section-title</key>
		<string>Details</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>SwitchCell</string>
				<key>field</key>
				<integer>12</integer>
				<key>icon</key>
				<string>outdoor-space-icon.png</string>
				<key>label</key>
				<string>Outdoor Space</string>
				<key>state</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>SwitchCell</string>
				<key>field</key>
				<integer>13</integer>
				<key>icon</key>
				<string>washer-dryer-icon.png</string>
				<key>label</key>
				<string>Washer Dryer</string>
				<key>state</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>SwitchCell</string>
				<key>field</key>
				<integer>14</integer>
				<key>icon</key>
				<string>doorman-icon.png</string>
				<key>label</key>
				<string>Doorman</string>
				<key>state</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>SwitchCell</string>
				<key>field</key>
				<integer>15</integer>
				<key>icon</key>
				<string>gym-icon.png</string>
				<key>label</key>
				<string>Gym</string>
				<key>state</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>SwitchCell</string>
				<key>field</key>
				<integer>16</integer>
				<key>icon</key>
				<string>pool-icon.png</string>
				<key>label</key>
				<string>Pool</string>
				<key>state</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>section-title</key>
		<string>Features</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>TextInputCell</string>
				<key>field</key>
				<integer>20</integer>
				<key>label</key>
				<string>Email</string>
				<key>placeholder</key>
				<string>email address</string>
				<key>state</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>PhoneInputCell</string>
				<key>field</key>
				<integer>44</integer>
				<key>label</key>
				<string>Phone</string>
				<key>placeholder</key>
				<string>digits</string>
				<key>state</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>section-title</key>
		<string>Contact</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>animatable</key>
				<false/>
				<key>class</key>
				<string>KeyWordsCell</string>
				<key>field</key>
				<integer>37</integer>
				<key>label</key>
				<string>Key Words</string>
				<key>state</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>section-title</key>
		<string>Key Words</string>
	</dict>
</array>
</plist>
