<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>animatable</key>
				<false/>
				<key>state</key>
				<integer>1</integer>
				<key>field</key>
				<integer>22</integer>
				<key>label</key>
				<string>Neighborhood</string>
				<key>class</key>
				<string>TextCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>22</integer>
				<key>state</key>
				<integer>0</integer>
				<key>animatable</key>
				<true/>
				<key>label</key>
				<string>Williamsburg</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>22</integer>
				<key>animatable</key>
				<true/>
				<key>state</key>
				<integer>0</integer>
				<key>label</key>
				<string>SOHO</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>22</integer>
				<key>animatable</key>
				<true/>
				<key>state</key>
				<integer>0</integer>
				<key>label</key>
				<string>East Village</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>22</integer>
				<key>animatable</key>
				<true/>
				<key>state</key>
				<integer>0</integer>
				<key>label</key>
				<string>East Village</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>22</integer>
				<key>state</key>
				<integer>0</integer>
				<key>animatable</key>
				<true/>
				<key>label</key>
				<string>West Village</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>22</integer>
				<key>state</key>
				<integer>0</integer>
				<key>animatable</key>
				<true/>
				<key>label</key>
				<string>Mid Town</string>
				<key>class</key>
				<string>CheckCell</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Location</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>placeholder</key>
				<string>$0.00</string>
				<key>format</key>
				<string>$%0.2f</string>
				<key>animatable</key>
				<false/>
				<key>field</key>
				<integer>23</integer>
				<key>state</key>
				<integer>1</integer>
				<key>label</key>
				<string>Minimum Rent</string>
				<key>class</key>
				<string>NumberInputCell</string>
			</dict>
			<dict>
				<key>placeholder</key>
				<string>$0.00</string>
				<key>format</key>
				<string>$%0.2f</string>
				<key>field</key>
				<integer>24</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Max Rent</string>
				<key>class</key>
				<string>NumberInputCell</string>
			</dict>
			<dict>
				<key>placeholder</key>
				<string>$0.00</string>
				<key>format</key>
				<string>$%0.2f</string>
				<key>field</key>
				<integer>25</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Broker Fee</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Costs</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>placeholder</key>
				<string>bedrooms needed</string>
				<key>animatable</key>
				<false/>
				<key>field</key>
				<integer>26</integer>
				<key>state</key>
				<integer>1</integer>
				<key>label</key>
				<string>Bedrooms</string>
				<key>class</key>
				<string>NumberInputCell</string>
			</dict>
			<dict>
				<key>placeholder</key>
				<string>minimum bathrooms</string>
				<key>animatable</key>
				<false/>
				<key>field</key>
				<integer>27</integer>
				<key>state</key>
				<integer>1</integer>
				<key>label</key>
				<string>Bathrooms</string>
				<key>class</key>
				<string>NumberInputCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>28</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Share</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>29</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Dogs</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>30</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Cats</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>31</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Move In After</string>
				<key>class</key>
				<string>DateCell</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Details</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>field</key>
				<integer>32</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Outdoor Space</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>33</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Washer Dryer</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>34</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Doorman</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>35</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Gym</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
			<dict>
				<key>field</key>
				<integer>36</integer>
				<key>state</key>
				<integer>1</integer>
				<key>animatable</key>
				<false/>
				<key>label</key>
				<string>Pool</string>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Features</string>
	</dict>
</array>
</plist>
