<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>field</key>
		<integer>0</integer>
		<key>requires-user</key>
		<true/>
		<key>cell</key>
		<string>UserCell</string>
		<key>class</key>
		<string>UserContentViewController</string>
		<key>label</key>
		<string>logged in as %@</string>
	</dict>
	<dict>
		<key>field</key>
		<integer>39</integer>
		<key>requires-user</key>
		<true/>
		<key>cell</key>
		<string>SwitchCell</string>
		<key>class</key>
		<string>UserContentViewController</string>
		<key>label</key>
		<string>Actively Looking</string>
	</dict>
	<dict>
		<key>format</key>
		<string>%0.2f miles</string>
		<key>field</key>
		<integer>51</integer>
		<key>display-height</key>
		<integer>100</integer>
		<key>min</key>
		<real>0.5</real>
		<key>max</key>
		<real>10</real>
		<key>cell</key>
		<string>SliderCell</string>
		<key>label</key>
		<string>Search Radius</string>
	</dict>
</array>
</plist>
