<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>class</key>
				<string>TextInputCell</string>
				<key>field</key>
				<integer>0</integer>
				<key>keyboard-type</key>
				<integer>7</integer>
				<key>label</key>
				<string>username</string>
				<key>placeholder</key>
				<string>valid email</string>
			</dict>
			<dict>
				<key>class</key>
				<string>TextInputCell</string>
				<key>field</key>
				<integer>1</integer>
				<key>is-secure</key>
				<true/>
				<key>label</key>
				<string>password</string>
				<key>placeholder</key>
				<string>minimum 6 characters</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Required</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>class</key>
				<string>PickerInputCell</string>
				<key>default</key>
				<string>--</string>
				<key>expanded-height</key>
				<integer>200</integer>
				<key>field</key>
				<integer>54</integer>
				<key>label</key>
				<string>Broker Firm</string>
				<key>picker-data</key>
				<array>
					<array>
						<dict>
							<key>label</key>
							<string>--</string>
							<key>value</key>
							<string>--</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Independent</string>
							<key>value</key>
							<string>Independent</string>
						</dict>
						<dict>
							<key>label</key>
							<string>Red Hook Waterfront</string>
							<key>value</key>
							<string>Red Hook Waterfront</string>
						</dict>
					</array>
				</array>
				<key>picker-index</key>
				<integer>0</integer>
				<key>placeholder</key>
				<string>choose one</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Brokerage</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>class</key>
				<string>SwitchCell</string>
				<key>field</key>
				<integer>39</integer>
				<key>label</key>
				<string>Actively Looking</string>
			</dict>
			<dict>
				<key>class</key>
				<string>MoneyInputCell</string>
				<key>field</key>
				<integer>41</integer>
				<key>format</key>
				<string>$%i</string>
				<key>label</key>
				<string>Max Rent</string>
				<key>max-characters</key>
				<integer>7</integer>
				<key>placeholder</key>
				<string>$0</string>
			</dict>
			<dict>
				<key>class</key>
				<string>PickerInputCell</string>
				<key>default</key>
				<string>--</string>
				<key>expanded-height</key>
				<integer>200</integer>
				<key>field</key>
				<integer>42</integer>
				<key>label</key>
				<string>Minimum Bedrooms</string>
				<key>picker-data</key>
				<array>
					<array>
						<dict>
							<key>label</key>
							<string>--</string>
							<key>value</key>
							<string>--</string>
						</dict>
						<dict>
							<key>label</key>
							<string>1 Bedroom</string>
							<key>value</key>
							<string>1 Bedroom</string>
						</dict>
						<dict>
							<key>label</key>
							<string>2 Bedroom</string>
							<key>value</key>
							<string>2 Bedroom</string>
						</dict>
						<dict>
							<key>label</key>
							<string>3 Bedroom</string>
							<key>value</key>
							<string>3 Bedroom</string>
						</dict>
						<dict>
							<key>label</key>
							<string>4 Bedroom</string>
							<key>value</key>
							<string>4 Bedroom</string>
						</dict>
						<dict>
							<key>label</key>
							<string>5 Bedroom</string>
							<key>value</key>
							<string>5 Bedroom</string>
						</dict>
						<dict>
							<key>label</key>
							<string>More then 5</string>
							<key>value</key>
							<string>More then 5</string>
						</dict>
					</array>
				</array>
				<key>picker-index</key>
				<integer>0</integer>
				<key>placeholder</key>
				<string>doesn't matter</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Optional</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>class</key>
				<string>FormCell</string>
				<key>custom-action</key>
				<string>toggleForm</string>
				<key>label</key>
				<string>Go To Login</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Or Login</string>
	</dict>
</array>
</plist>
