<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>field</key>
				<integer>0</integer>
				<key>placeholder</key>
				<string>email</string>
				<key>label</key>
				<string>username</string>
				<key>class</key>
				<string>TextInputCell</string>
			</dict>
			<dict>
				<key>is-secure</key>
				<true/>
				<key>field</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>password</string>
				<key>label</key>
				<string>password</string>
				<key>class</key>
				<string>TextInputCell</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Register For Virtual Realty</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>custom-action</key>
				<string>facebookLogin</string>
				<key>label</key>
				<string>Facebook</string>
				<key>class</key>
				<string>FormCell</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Register With Facebook</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>label</key>
				<string>Actively Looking</string>
				<key>field</key>
				<integer>39</integer>
				<key>class</key>
				<string>SwitchCell</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Max Rent</string>
				<key>field</key>
				<integer>41</integer>
				<key>class</key>
				<string>NumberInputCell</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Minimum Bedrooms</string>
				<key>field</key>
				<integer>42</integer>
				<key>class</key>
				<string>NumberInputCell</string>
			</dict>
			<dict>
				<key>label</key>
				<string>Move In After</string>
				<key>field</key>
				<integer>40</integer>
				<key>class</key>
				<string>DateCell</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Actively Searching</string>
	</dict>
	<dict>
		<key>cells</key>
		<array>
			<dict>
				<key>label</key>
				<string>Go To Login</string>
				<key>custom-action</key>
				<string>toggleForm</string>
				<key>class</key>
				<string>FormCell</string>
			</dict>
		</array>
		<key>section-title</key>
		<string>Or Login</string>
	</dict>
</array>
</plist>
